<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" 
      *ngIf="(auth.user$ | async)">
        
        <li class="nav-item">
          <a routerLink="./expense-manager/category-list" class="nav-link" href="javascript:void(0);">Category list</a>
        </li>
        <li class="nav-item">
          <a routerLink="./expense-manager/transaction-list" class="nav-link" href="javascript:void(0);">Transaction List</a>
        </li>
          <li class="nav-item">
          <a routerLink="./expense-manager/categorywise-transaction-history" class="nav-link" href="javascript:void(0);">Categorywise Transaction List</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item" *ngIf="(auth.user$ | async)">
          <a routerLink="./register" class="nav-link" href="javascript:void(0);">Add new user</a>
        </li>
        <li class="nav-item" *ngIf="!(auth.user$ | async)">
          <a routerLink="./login" class="nav-link" href="javascript:void(0);">Login</a>
        </li>
        <li 
        (click)="logout()"
        class="nav-item" *ngIf="(auth.user$ | async)">
          <a class="nav-link" href="javascript:void(0);">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <router-outlet/>
</div>